*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: 'TT Norms', sans-serif;
    color: #FFFFFF;
    max-width: 1440px;
}

a {
    text-decoration: none;
}

/* header [start] */

.section-heading {
    display: none;
}

.section-header {
    padding-top: 50px;
    margin-bottom: 85px;
}

.container {
    padding: 0 60px;
}

.container.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mobile-nav {
    display: none;
}

.header-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.languages {
    display: flex;
    margin-right: 20px;
}

.language {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    padding: 5px;
    color: #B3B3BA;
    border-radius: 8px;
    letter-spacing: 1px;
}

.language:hover {
    background: #EDEDF7;
    color: #B3B3BA;
}

.language.active, 
.language:active {
    background: #F0145A;
    color: #FFFFFF;
}

.header-adress {
    font-size: 16px;
    line-height: 19px;
    margin-right: 13px;
    color: #B3B3BA;
}

.header-number {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #B3B3BA;
    margin-right: 10px;
}

.dot-separator-header {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #E6E6F0;
    margin-right: 10px;
}

.logo-mini {
    display: none;
}

.logo-mini-mobile {
    display: none;
}

.menu-button {
    display: none;
}

.header-contacts + .header-bottom {
    margin-top: 16px;
}

.header-navigation {
        display: flex;
        justify-content: flex-end;
    }

.header-navigation-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.header-navigation-link {
    font-size: 18px;
    line-height: 21px;
    margin-right: 15px;
    color: #24A3FF;
}

.header-navigation-link:hover,
.header-navigation-link:active {
    color: #F0145A;
}

.header-navigation-link.active {
    color: #F0145A;
    border-bottom: 2px solid #F0145A;
}

.header-navigation li:last-child .header-navigation-link{
    margin-right: 0px;
}

/* header [end] */

/* switch-button  [start]*/
    
.section-switch-button {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .switch-button {
    background: #E6E6F0;
    border-radius: 12px;
    width: 260px;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    color: #323264;
    position: relative;
    padding-right: 122px;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
  }
    .switch-button:before {
      content: "компанія";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 130px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      pointer-events: none;
    }
  
    .switch-button-checkbox {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
    }
      .switch-button-checkbox:checked + .switch-button-label:before {
        transform: translateX(120px);
        transition: transform 300ms linear;
      }
  
      .switch-button-checkbox + .switch-button-label {
        position: relative;
        padding: 10px 0;
        display: block;
        user-select: none;
        pointer-events: none;
      }

            .switch-button-checkbox + .switch-button-label:before {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: #FFFFFF;
        border-radius: 10px;
          transform: translateX(0);
          transition: transform 300ms;
        }
  
        .switch-button-label-span {
          position: relative;
        }
  

/* switch-button  [end]*/


/* .sectin-publications [start] */

.section-publications {
    padding-top: 40px;
    background: #F5F5FA;
    padding-bottom: 60px;
}

.section-publications-link {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    font-weight: bold;
    margin-bottom: 3px;
}

.section-publications-heading {
    font-size: 42px;
    line-height: 50px;
    background: -webkit-linear-gradient(0deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}

:root {    
    --column-gap: 40px;
  }

  .overflow-container {
    margin-bottom: 40px;
  }
   
   .masonry-container {
    columns: 1;
    column-gap: var(--column-gap);
  }
  
  .masonry-item {
    padding: 20px;
    /* width: calc(100% - var(--column-gap)); */
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .masonry-item.double {
      display: none;
  }
  
  .masonry-item-image {
    display: block;
    width: calc(100% + 40px);
    margin: -20px -20px 20px -20px;
    border-radius: 8px 8px 0 0;
  }
  
  .masonry-item-heading {
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 10px 0;
  }
  
  .masonry-item-heading a {
    color: #24a3ff;
    text-decoration: none;
  }
  
  .masonry-item-date {
    display: block;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #b3b3ba;
  }
  
  .masonry-item-text {
      display: none;
    padding-top: 20px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-top: solid 4px #e6e6f0;
  }

  .overflow-container-gradient-button {
    display: flex;
    justify-content: center;
}

.overflow-container-gradient-button-text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 250px;
    color: #FFFFFF;
    background: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    border: none;     
}
  
  @media screen and (min-width: 810px) {

    .masonry-container {
      column-count: 2;
    }

    .masonry-item.double {
        display: inline-block;
    }

    .overflow-container-gradient-button {
        display: flex;
        justify-content: center;
    }

    .overflow-container-gradient-button-text {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 250px;
        color: #FFFFFF;
        background: #24A3FF;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
        border-radius: 12px;
        border: none;     
    }

    .overflow-container-gradient-mobile {
        display: none;
    }

    .masonry-item {
        width: auto;
    }

    .masonry-item-text {
        display: block;
    }
  
  }
  
  @media screen and (min-width: 1024px) {

    .masonry-container {
      column-count: 3;
    }
    
    .masonry-item.double {
        display: inline-block;
    }

    .overflow-container-gradient {
        width: 100%;
    }

    .overflow-container-gradient-button {
        display: flex;
        justify-content: center;
    }

    .overflow-container-gradient-button-text {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 250px;
        color: #FFFFFF;
        background: #24A3FF;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
        border-radius: 12px;
        border: none;     
    }

    .masonry-item-text {
        display: block;
    }
}

/* .sectin-publications [end] */

/* footer [start] */

.footer {
    background: #F5F5FA;
    border-radius: 0px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    border-top: 4px solid #E6E6F0;
    padding-top: 32px;
    padding-bottom: 40px;
    justify-content: space-between;
}

.footer-information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-information-adress {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 22px;
}

.footer-information-adress-text {
    font-size: 16px;
    line-height: 19px;
    color: #323264;
    margin-right: 31px;
}

.dot-separator-footer {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #B3B3BA;
    margin-right: 10px;
}

.footer-information-adress-link {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
}

.footer-information-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.facebook-logo-footer {
    margin-right: 10px;
}

.footer-information-contacts-number {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #46466E;
    margin-right: 10px;
}

.footer-information-mail {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #24A3FF;
}

.footer-information-copyright-text {
    font-size: 16px;
    line-height: 19px;
    color: #B3B3BA;
}