:root {
  /* Main colors */
  --clr-main: #323264;
  --clr-alt: #46466e;
  --clr-soft: #686887;

  /* Accent colors */
  --clr-accent: #f0145a;

  /* Active colors */
  --clr-regular: #24a3ff;
  --clr-hover: #0085ff;
  --clr-active: #006ccf;

  /* Grey colors */
  --clr-bg: #f5f5fa;
  --clr-bg-alt: #ededf7;
  --clr-text: #b3b3ba;
  --clr-separator: #e6e6f0;

  /* Other colors */
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-hippie-pink: #a54b5f;
  --clr-honey-flower: #643e72;
  --clr-transparent-main: rgba(50, 50, 100, 0);
  --clr-light-coral: #ef8080;
  --clr-logan: #9898b2;

  /* Shadows */
  --experience-shadow-1: #cacadb;
  --experience-shadow-2: #e7e7f2;

  /* Gradients */
  --light-to-dark-text: linear-gradient(
    90.13deg,
    var(--clr-light-coral) 0.84%,
    var(--clr-accent) 99.96%
  );
  --dark-to-light-text: linear-gradient(
    90.13deg,
    var(--clr-accent) 0.84%,
    var(--clr-light-coral) 99.96%
  );
}
